/*
* Datepicker
*/

.dp-note {
    position: absolute;
    background: #ccc;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    left: 50%;
    bottom: 1px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.datepicker {
    width: 100%;
    box-sizing: border-box;
    border-radius: 0;
}

/*
* General
*/

.wpsec-list {
    margin: 0;
}

.wpsec-list-item {
    margin: 0 0 20px 0;
    list-style: none;
}

.wpsec-container {
    display: flex;
    max-width: 1400px;
    margin: 30px auto;
    padding: 0 10px;
    position: relative;
}

/*
* Loader
*/

/* 2 circles */

.wpsec-loader {
    display: none;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
}

.wpsec-loader.show {
    display: flex;
}

.sk-double-bounce {
    width: 50px;
    height: 50px;
    position: relative;
    margin: 150px auto 0 auto;
}

.sk-child {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #cd2653;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    animation: sk-double-bounce 2.0s infinite ease-in-out;
}

.sk-double-bounce-2 {
    animation-delay: -1.0s;
}

@keyframes sk-double-bounce {
    0%, 100% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.0);
    }
}

/* 12 circles */

.sk-fading-circle {
    width: 4em;
    height: 4em;
    position: relative;
    margin: auto;
}
.sk-fading-circle .sk-circle {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.sk-fading-circle .sk-circle:before {
    content: "";
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #cd2653;
    border-radius: 100%;
    animation: sk-fading-circle-delay 1.2s infinite ease-in-out both;
}
.sk-fading-circle .sk-circle-2 {
    transform: rotate(30deg);
}
.sk-fading-circle .sk-circle-3 {
    transform: rotate(60deg);
}
.sk-fading-circle .sk-circle-4 {
    transform: rotate(90deg);
}
.sk-fading-circle .sk-circle-5 {
    transform: rotate(120deg);
}
.sk-fading-circle .sk-circle-6 {
    transform: rotate(150deg);
}
.sk-fading-circle .sk-circle-7 {
    transform: rotate(180deg);
}
.sk-fading-circle .sk-circle-8 {
    transform: rotate(210deg);
}
.sk-fading-circle .sk-circle-9 {
    transform: rotate(240deg);
}
.sk-fading-circle .sk-circle-10 {
    transform: rotate(270deg);
}
.sk-fading-circle .sk-circle-11 {
    transform: rotate(300deg);
}
.sk-fading-circle .sk-circle-12 {
    transform: rotate(330deg);
}
.sk-fading-circle .sk-circle-2:before {
    animation-delay: -1.1s;
}
.sk-fading-circle .sk-circle-3:before {
    animation-delay: -1s;
}
.sk-fading-circle .sk-circle-4:before {
    animation-delay: -0.9s;
}
.sk-fading-circle .sk-circle-5:before {
    animation-delay: -0.8s;
}
.sk-fading-circle .sk-circle-6:before {
    animation-delay: -0.7s;
}
.sk-fading-circle .sk-circle-7:before {
    animation-delay: -0.6s;
}
.sk-fading-circle .sk-circle-8:before {
    animation-delay: -0.5s;
}
.sk-fading-circle .sk-circle-9:before {
    animation-delay: -0.4s;
}
.sk-fading-circle .sk-circle-10:before {
    animation-delay: -0.3s;
}
.sk-fading-circle .sk-circle-11:before {
    animation-delay: -0.2s;
}
.sk-fading-circle .sk-circle-12:before {
    animation-delay: -0.1s;
}

@keyframes sk-fading-circle-delay {
    0%, 39%, 100% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
}

/*
* Controll
*/

.wpsec-controll {
    width: 30%;
}

.wpsec-controll__inner {
    top: 20px;
    position: sticky;
}

.search-wrapper {
    display: flex;
}

/*
* Events
*/

.wpsec-events {
    width: 70%;
    padding: 0 20px;
    position: relative;
}

.wpsec-events.loading:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: grey;
}

.wpsec-event {
    border-bottom: 1px solid #d7d7d7;
    margin-bottom: 30px;
}

.wpsec-event:last-child {
    border: none;
    margin-bottom: 0;
}

.wpsec-event__datetime {
    font-size: 14px;
}

.wpsec-event__title {
    font-size: 60px;
    margin: 20px 0;
}

.wpsec-event__content h2 {
    margin: 10px 0;
}

/*
* Media
*/

@media (max-width: 1024px) {

    .wpsec-controll {
        width: 40%;
    }

    .wpsec-events {
        width: 60%;
    }
}

@media (max-width: 768px) {

    .wpsec-container {
        flex-direction: column;
    }

    .wpsec-controll,
    .wpsec-events {
        width: 100%;
    }
}